Flask==3.0.2
Flask-Caching==2.3.0
gspread==6.1.2
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
PyPDF2==3.0.1
gunicorn==23.0.0
httplib2==0.22.0
protobuf==4.25.3
reportlab==4.2.2
